
*{
    margin: 0;
    padding: 0;
   

}


.MuiGrid-root.MuiGrid-container.css-1r8z3t-MuiGrid-root {
    box-sizing: border-box;
     display: flex;
     padding: 32px;
     
    


}

.css-j9xgvu-MuiCardMedia-root {
   
   
   margin-left:auto;
   margin-right: auto;

}


.MuiTypography-root.MuiTypography-body2.css-bsepsn-MuiTypography-root {
    margin: 0;
    margin-top: 0px;
    font-family: Poppins,Open Sans;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.7;
    color: #072227;
    margin-top: 14px;
    
   
  }


