




@media only screen and (max-width: 375px)  {

.MuiTable-root.css-yk2dun-MuiTable-root {
     
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 520px;
  
}

}